<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.boss.platform.dao.toolsManager.AppInterfaceLogMapper">
    <resultMap id="BaseResultMap" type="cn.boss.platform.bean.toolsManager.AppInterfaceLogBean">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="parameter" jdbcType="VARCHAR" property="parameter"/>
        <result column="result" jdbcType="VARCHAR" property="result"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="business_status" jdbcType="VARCHAR" property="businessStatus"/>
        <result column="method" jdbcType="VARCHAR" property="method"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>


    <!--添加日志-->
    <insert id="addInterfaceLog" parameterType="cn.boss.platform.bean.toolsManager.AppInterfaceLogBean">
        insert into boss_tools_capture_log_tb(phone, user_id, url,parameter,result,status,business_status,method,create_time)
        values(#{phone}, #{userId}, #{url},#{parameter}, #{result},#{status},#{businessStatus},#{method},#{createTime})
    </insert>

    <select id="getInterfaceLog" parameterType="map" resultMap="BaseResultMap">
        select * from boss_tools_capture_log_tb where 1=1
        <if test="userId != null ">
            AND user_id = #{userId}
        </if>
        <if test="phone != null ">
            AND phone = #{phone}
        </if>
        ORDER BY create_time DESC limit #{skip},#{take}
    </select>

    <select id="getInterfaceLogNew" parameterType="map" resultMap="BaseResultMap">
        select * from boss_tools_capture_log_tb where 1=1
        <if test="userId != null ">
            AND user_id in
            <foreach  item="item" collection="userId" index="index"  open="(" separator="," close=")">#{item}</foreach>
        </if>
        <if test="phone != null ">
            AND phone = #{phone}
        </if>
        ORDER BY id DESC LIMIT #{limit}
    </select>


    <select id="getInterfaceLogCount" parameterType="map" resultType="java.lang.Integer">
        select count(*) from boss_tools_capture_log_tb where 1=1
        <if test="userId != null ">
            AND user_id in
            <foreach  item="item" collection="userId" index="index"  open="(" separator="," close=")">#{item}</foreach>
        </if>
        <if test="phone != null ">
            AND phone = #{phone}
        </if>
    </select>



    <delete id="deleteInterfaceLog" parameterType="java.lang.Integer">
        delete from boss_tools_capture_log_tb where user_id = #{userId}
    </delete>

    <select id="getErrorInterfaceLog" parameterType="map" resultMap="BaseResultMap">
        select * from boss_tools_capture_log_tb where 1=1
        AND (status != '200' OR business_status = 'error')
        <if test="startTime != '' and startTime != null ">
            AND create_time  &gt;= #{startTime}
        </if>
        <if test="endTime != '' and endTime != null ">
            AND create_time &lt;= #{endTime}
        </if>
        <if test="env != null">
            AND url LIKE CONCAT('%',#{env},'%')
        </if>

        ORDER BY create_time DESC limit #{skip},#{take}
    </select>


</mapper>
