<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.boss.platform.dao.toolsManager.ChangestatusMapper">

    <select id="changeboss"   parameterType="java.lang.String">
        update zp_boss.boss_extra set status=#{status} where user_id=#{bossid}
    </select>
    <select id="changegeek"   parameterType="java.lang.String">
        update zp_geek.geek_extra set status=#{status} where user_id=#{geekid}
    </select>
</mapper>