<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.boss.platform.dao.toolsManager.ShellMapper">
    <resultMap id="BaseResultMap" type="cn.boss.platform.bean.interfaceManager.ShellBean">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="servername" jdbcType="VARCHAR" property="servername"/>
        <result column="access" jdbcType="VARCHAR" property="access"/>
        <result column="port" jdbcType="VARCHAR" property="port"/>
        <result column="host" jdbcType="VARCHAR" property="host"/>
        <result column="user" jdbcType="VARCHAR" property="user"/>
        <result column="env" jdbcType="VARCHAR" property="env"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="yn" jdbcType="VARCHAR" property="yn"/>
    </resultMap>

<!--    <insert id="getshell" parameterType="java.lang.String">-->
<!--    insert into boss_tools_shell(id, status, testenv, feature,service,Cookie,name,time,consumer,schedule)-->
<!--    values(#{id}, #{status}, #{testenv}, #{feature}, #{service},#{Cookie},#{name},#{time},#{consumer},#{schedule})-->
<!--  </insert>-->

    <select id="getshell"  resultMap="BaseResultMap" parameterType="java.lang.String">
        select * from boss_tools_shell where servername=#{servername} AND env = '${env}';
    </select>
</mapper>