<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.boss.platform.dao.toolsManager.HealthUrlMapper">
  <resultMap id="BaseResultMap" type="cn.boss.platform.bean.toolsManager.HealthUrlBean">
    <id column="id" jdbcType="INTEGER" property="id"/>
    <result column="serial_id" jdbcType="INTEGER" property="serialId"/>
    <result column="env" jdbcType="VARCHAR" property="env"/>
    <result column="url" jdbcType="VARCHAR" property="url"/>
    <result column="person" jdbcType="VARCHAR" property="person"/>
    <result column="status" jdbcType="INTEGER" property="status"/>
    <result column="zhipin_name" jdbcType="VARCHAR" property="zhipinName"/>
    <result column="domain" jdbcType="VARCHAR" property="domain"/>
    <result column="response_result" jdbcType="VARCHAR" property="responseResult"/>
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>

  </resultMap>

  <!--<sql id="Base_Column_List">-->
    <!--id, zhipinName, env, address-->
  <!--</sql>-->


  <!--添加执行日志-->
  <insert id="addLog" parameterType="cn.boss.platform.bean.toolsManager.HealthUrlBean">
    insert into boss_tools_health_url_execute_log(serial_id, env,person, url,status,zhipin_name,response_result,domain,create_time)
    values(#{serialId}, #{env}, #{person},#{url}, #{status},#{zhipinName},#{responseResult},#{domain},#{createTime})
  </insert>

  <!--分页查询日志 -->
  <select id="getLog" resultMap="BaseResultMap">
    select * from boss_tools_health_url_execute_log where 1=1
    <if test="env != ''">
      AND env = '${env}'
    </if>
    <if test="zhipinName != ''">
      AND zhipin_name = '${zhipinName}'
    </if>
    order by id desc limit #{skip},#{take}
  </select>


</mapper>