<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.boss.platform.dao.dubboManager.ZhipinDubboCaseMapper">
  <resultMap id="BaseResultMap" type="cn.boss.platform.bean.dubboManager.ZhipinDubboCaseBean">
    <id column="id" jdbcType="INTEGER" property="id"/>
    <result column="interface_id" jdbcType="INTEGER" property="interfaceId"/>
    <result column="env_id" jdbcType="INTEGER" property="envId"/>
    <result column="case_name" jdbcType="VARCHAR" property="caseName"/>
    <result column="type" jdbcType="INTEGER" property="type"/>
    <result column="parameters" jdbcType="VARCHAR" property="parameters"/>
    <result column="expected_result" jdbcType="VARCHAR" property="expectedResult"/>
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    <result column="author" jdbcType="INTEGER" property="author"/>
  </resultMap>

  <sql id="Base_Column_List">
    id, interface_id, env_id, case_name, type,create_time, expected_result,update_time,parameters,author
  </sql>


  <!--添加用例 -->
  <insert id="addDubboCase" parameterType="cn.boss.platform.bean.dubboManager.ZhipinDubboCaseBean"
          useGeneratedKeys="true" keyProperty="id">
    insert into boss_zhipin_dubbo_case_tb(interface_id, env_id, case_name, type,parameters,expected_result,create_time, update_time,author)
    values(#{interfaceId}, #{envId}, #{caseName}, #{type}, #{parameters},#{expectedResult},#{createTime},#{updateTime},#{author})
  </insert>

  <!--删除用例 -->
  <delete id="deleteDubboCase" parameterType="java.lang.Integer">
    DELETE FROM boss_zhipin_dubbo_case_tb
    WHERE id = #{id}
  </delete>


  <!--查询用例 -->
  <select id="getDubboCases" resultMap="BaseResultMap">
    select * from boss_zhipin_dubbo_case_tb where 1=1
    <if test="interfaceId != null">
      AND interface_id = '${interfaceId}'
    </if>
    <if test="caseId != null ">
      AND Id = '${caseId}'
    </if>
    <if test="envId != null ">
      AND env_id = '${envId}'
    </if>
    ORDER BY id DESC
  </select>


  <!--更新用例 -->
  <update id="updateDubboCase" parameterType="cn.boss.platform.bean.dubboManager.ZhipinDubboCaseBean">
    UPDATE boss_zhipin_dubbo_case_tb
    SET interface_id = #{interfaceId},
    env_id = #{envId},
    case_name = #{caseName},
    type = #{type},
    parameters = #{parameters},
    expected_result = #{expectedResult},
    update_time = #{updateTime},
    author = #{author}
    WHERE id = #{id}
  </update>


  <!--查询接口用例 -->
  <select id="getExecute" parameterType="map" resultMap="BaseResultMap">
    select * from boss_zhipin_dubbo_case_tb where 1=1
    <if test="interfaceId != null">
      AND interface_id = #{interfaceId}
    </if>
    <if test="envId != null ">
      AND env_id = #{envId}
    </if>
    <if test="caseId != null ">
      AND id = #{caseId}
    </if>
    <if test="author != null ">
      AND author = #{author}
    </if>
    ORDER BY id ASC
  </select>

</mapper>