<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.boss.platform.dao.dubboManager.ZhipinDubboInterfaceMapper">
  <resultMap id="BaseResultMap" type="cn.boss.platform.bean.dubboManager.ZhipinDubboInterfaceBean">
    <id column="id" jdbcType="INTEGER" property="id"/>
    <result column="server_name" jdbcType="VARCHAR" property="serverName"/>
    <result column="interface_name" jdbcType="VARCHAR" property="interfaceName"/>
    <result column="method_name" jdbcType="VARCHAR" property="methodName"/>
    <result column="name" jdbcType="VARCHAR" property="name"/>
    <result column="message" jdbcType="VARCHAR" property="message"/>
    <result column="status" jdbcType="INTEGER" property="status"/>
    <result column="author" jdbcType="INTEGER" property="author"/>
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
  </resultMap>

  <sql id="Base_Column_List">
    id, server_name, interface_name, method_name, name, message, status,create_time,update_time,
  </sql>

  <!--添加接口 -->
  <insert id="addDubboInterface" parameterType="cn.boss.platform.bean.dubboManager.ZhipinDubboInterfaceBean">
    insert into boss_zhipin_dubbo_interface_tb (server_name,interface_name,method_name,name,message,status,author,create_time,update_time)
    VALUES (#{serverName},#{interfaceName},#{methodName},#{name},#{message},#{status},#{author},#{createTime},#{updateTime});
  </insert>

  <!-- 更新接口 -->
  <update id="updateDubboInterface" parameterType="cn.boss.platform.bean.dubboManager.ZhipinDubboInterfaceBean">
    update boss_zhipin_dubbo_interface_tb
    set
    server_name = #{serverName},
    interface_name = #{interfaceName},
    method_name = #{methodName},
    name = #{name},
    author = #{author},
    message = #{message},
    status = #{status},
    update_time = #{updateTime}
    where id = #{id}
  </update>


  <!-- 删除单条接口 -->
  <delete id="deleteInterface" parameterType="java.lang.Integer">
    delete from boss_zhipin_dubbo_interface_tb where id=#{id}
  </delete>


  <!--查询所有服务名 -->
  <select id="getServerName" resultMap="BaseResultMap">
    select * from boss_zhipin_dubbo_interface_tb where 1=1 GROUP BY server_name ORDER  BY id ASC
  </select>

  <!--查询所有服务接口 -->
  <select id="getServerInterface" resultMap="BaseResultMap">
    select * from boss_zhipin_dubbo_interface_tb where 1=1 and  server_name='${serverName}' GROUP BY interface_name ORDER  BY id ASC
  </select>

  <!--查询方法名 -->
  <select id="getServerMethod" resultMap="BaseResultMap">
    select * from boss_zhipin_dubbo_interface_tb where 1=1 and  interface_name='${interfaceName}' GROUP BY method_name ORDER  BY id ASC
  </select>

  <!--查询单条接口 -->
  <select id="getDubboInterfaceById" resultMap="BaseResultMap">
    select * from boss_zhipin_dubbo_interface_tb where 1=1 and  id='${id}'
  </select>

  <!--分页查询接口 -->
  <select id="getDubboInterface" parameterType="cn.boss.platform.bean.dubboManager.ZhipinDubboInterfaceBean"
          resultMap="BaseResultMap">
    select * from boss_zhipin_dubbo_interface_tb where 1=1
    <if test="serverName !=null">
      AND server_name = '${serverName}'
    </if>
    <if test="interfaceName != null ">
      AND interface_name = '${interfaceName}'
    </if>
    <if test="methodName != null " >
      AND method_name = '${methodName}'
    </if>
    <if test="id != 0 " >
      AND id = '${id}'
    </if>
    ORDER BY create_time
  </select>

  <!--分页查询接口个数 -->
  <select id="getDubboInterfaceCount" parameterType="cn.boss.platform.bean.dubboManager.ZhipinDubboInterfaceBean" resultType="java.lang.Integer">
    select count(*) from boss_zhipin_dubbo_interface_tb where 1=1
    <if test="serverName !=null">
      AND server_name = '${serverName}'
    </if>
    <if test="interfaceName != null ">
      AND interface_name = '${interfaceName}'
    </if>
    <if test="methodName != null " >
      AND method_name = '${methodName}'
    </if>
    ORDER BY create_time
  </select>





</mapper>