<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.boss.platform.dao.autoCaseManager.AutoCaseStepMapper">
    <resultMap id="BaseResultMap" type="cn.boss.platform.bean.autoManager.AutoCaseStepBean">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <id column="index" jdbcType="INTEGER" property="index"/>
        <result column="project_id" jdbcType="INTEGER" property="projectId"/>
        <result column="group_id" jdbcType="INTEGER" property="groupId"/>
        <result column="case_id" jdbcType="INTEGER" property="caseId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="action" jdbcType="VARCHAR" property="action"/>
        <result column="parameter" jdbcType="VARCHAR" property="parameter"/>
        <result column="value" jdbcType="INTEGER" property="value"/>
        <result column="exception" jdbcType="INTEGER" property="exception"/>
        <result column="message" jdbcType="INTEGER" property="message"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <!--添加用例步骤 -->
    <insert id="addAutoStepCase" parameterType="cn.boss.platform.bean.autoManager.AutoCaseStepBean">
        insert into boss_auto_case_step_tb (project_id,group_id,case_id,action,name,parameter,exception,value,message,create_time,update_time)
        VALUES (#{projectId},#{groupId},#{caseId},#{action},#{name},#{parameter},#{exception},#{value},#{message},#{createTime},#{updateTime});
    </insert>


    <!--分页查询用例步骤 -->
    <select id="getAutoCaseStep" parameterType="map" resultMap="BaseResultMap">
        select * from boss_auto_case_step_tb where 1=1
        <if test="projectId != null">
            AND project_id = '${projectId}'
        </if>
        <if test="groupId != null">
            AND group_id = '${groupId}'
        </if>
        <if test="caseId != null">
            AND case_id = '${caseId}'
        </if>
        <if test="id != null">
            AND id = '${id}'
        </if>
        ORDER BY id ASC limit #{startSize},#{pageSize}
    </select>


    <!--分页查询用例步骤 -->
    <select id="getAutoCaseSteps" parameterType="map" resultMap="BaseResultMap">
        select * from boss_auto_case_step_tb where 1=1
        <if test="projectId != null">
            AND project_id = '${projectId}'
        </if>
        <if test="groupId != null ">
            AND group_id IN
            <foreach item="item" index="index" collection="groupId" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="caseId != null ">
            AND case_id IN
            <foreach item="item" index="index" collection="caseId" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="id != null ">
            AND id IN
            <foreach item="item" index="index" collection="id" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        ORDER BY id ASC limit #{startSize},#{pageSize}
    </select>



    <!--删除用例步骤 -->
    <delete id="deleteAutoCaseStep" parameterType="java.lang.Integer">
        DELETE FROM boss_auto_case_step_tb WHERE id = #{id}
    </delete>


    <!--更新用例步骤 -->
    <update id="updateAutoCaseStep" parameterType="cn.boss.platform.bean.autoManager.AutoCaseStepBean">
        UPDATE boss_auto_case_step_tb
        SET project_id = #{projectId},
        group_id = #{groupId},
        case_id = #{caseId},
        action = #{action},
        name= #{name},
        parameter = #{parameter},
        exception = #{exception},
        value = #{value},
        message=#{message},
        update_time = #{updateTime}
        WHERE id = #{id}
    </update>

    <!--查询单用例步骤 -->
    <select id="getAutoCaseStepById" resultMap="BaseResultMap">
        SELECT * FROM boss_auto_case_step_tb WHERE id = #{id}
    </select>

    <update id="switchAutoCaseStep" parameterType="java.lang.Integer">
        UPDATE boss_auto_case_step_tb
        SET id = #{afterId} WHERE id = #{frontId}
    </update>



</mapper>