<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.boss.platform.dao.autoCaseManager.AutoCaseExecuteLogMapper">
    <resultMap id="BaseResultMap" type="cn.boss.platform.bean.autoManager.AutoCaseExecuteLogBean">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="project_id" jdbcType="INTEGER" property="projectId"/>
        <result column="case_id" jdbcType="INTEGER" property="caseId"/>
        <result column="case_step_id" jdbcType="INTEGER" property="caseStepId"/>
        <result column="task_id" jdbcType="INTEGER" property="taskId"/>
        <result column="serial_id" jdbcType="INTEGER" property="serialId"/>
        <result column="stepName" jdbcType="VARCHAR" property="stepName"/>
        <result column="response_result" jdbcType="VARCHAR" property="responseResult"/>
        <result column="expected_result" jdbcType="VARCHAR" property="expectedResult"/>
        <result column="exec_time" jdbcType="INTEGER" property="execTime"/>
        <result column="parameter" jdbcType="VARCHAR" property="parameter"/>
        <result column="success" jdbcType="INTEGER" property="success"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="author" jdbcType="VARCHAR" property="author"/>
    </resultMap>


    <!--添加 -->
    <insert id="addAutoCaseStepLog" parameterType="cn.boss.platform.bean.autoManager.AutoCaseExecuteLogBean">
        insert into boss_auto_case_execute_log_tb (project_id,case_id,case_step_id,stepName,task_id,serial_id,response_result,expected_result,exec_time,parameter,success,create_time,author)
        VALUES (#{projectId},#{caseId},#{caseStepId},#{stepName},#{taskId},#{serialId},#{responseResult},#{expectedResult},#{execTime},#{parameter},#{success},#{createTime},#{author});
    </insert>

    <!--按条件查询数据 -->
    <select id="getAutoCaseStepLog" parameterType="map" resultMap="BaseResultMap">
        select * from boss_auto_case_execute_log_tb  where 1=1
        <if test="projectId != null">
            AND project_id = ${projectId}
        </if>
        <if test="taskId != null">
            AND task_id = ${taskId}
        </if>
        <if test="caseId != null">
            AND case_id = ${caseId}
        </if>
        <if test="caseStepId != null">
            AND case_step_id = ${caseStepId}
        </if>
        <if test="startTime != null">
            AND create_time  &gt;= #{startTime}
        </if>
        <if test="endTime != null">
            AND create_time &lt;= #{endTime}
        </if>
        <if test="serialId != null">
            AND serial_id = ${serialId}
        </if>
        order by id DESC limit #{startSize},#{pageSize}
    </select>

    <!--按条件查询数据总和 -->
    <select id="getAutoCaseStepLogCount" parameterType="map"  resultType="java.lang.Integer">
        select count(*) from boss_auto_case_execute_log_tb where 1=1
        <if test="projectId != null">
            AND project_id = ${projectId}
        </if>
        <if test="taskId != null">
            AND task_id = ${taskId}
        </if>
        <if test="caseId != null">
            AND case_id = ${caseId}
        </if>
        <if test="caseStepId != null">
            AND case_step_id = ${caseStepId}
        </if>
        <if test="startTime != null">
            AND create_time  &gt;= #{startTime}
        </if>
        <if test="endTime != null">
            AND create_time &lt;= #{endTime}
        </if>
        <if test="serialId != null">
            AND serial_id = ${serialId}
        </if>
    </select>

    <!--按serial_id分组查询,带有条件的每组第一条数据 -->
    <select id="executeLog" parameterType="map" resultMap="BaseResultMap">
        select a.* from boss_auto_case_execute_log_tb a,(select max(id) id , serial_id from boss_auto_case_execute_log_tb
        where 1=1
        <if test="projectId != null">
            AND project_id = ${projectId}
        </if>
        <if test="taskId != null">
            AND task_id = ${taskId}
        </if>
        <if test="startTime != null">
            AND create_time  &gt;= #{startTime}
        </if>
        <if test="endTime != null">
            AND create_time &lt;= #{endTime}
        </if>
        group by serial_id ) b where a.id = b.id and a.serial_id = b.serial_id
        <if test="serialId != null">
            AND a.serial_id = ${serialId}
        </if>
        AND task_id != 1
        order by a.create_time
        DESC limit #{startSize},#{pageSize}
    </select>

    <!--按serial_id分组查询总数 -->
    <select id="executeLogCount" parameterType="map" resultType="java.lang.Integer">
        select count(*) from boss_auto_case_execute_log_tb a,(select max(id) id , serial_id from boss_auto_case_execute_log_tb
        where 1=1
        <if test="projectId != null">
            AND project_id = ${projectId}
        </if>
        <if test="taskId != null">
            AND task_id = ${taskId}
        </if>
        <if test="startTime != null">
            AND create_time  &gt;= #{startTime}
        </if>
        <if test="endTime != null">
            AND create_time &lt;= #{endTime}
        </if>
        group by serial_id ) b where a.id = b.id and a.serial_id = b.serial_id
        <if test="serialId != null">
            AND a.serial_id = ${serialId}
        </if>
        AND task_id != 1
        order by a.create_time
    </select>




    <!--条件查询执行成功的日志 -->
    <select id="getExecuteSucessCount" parameterType="map" resultType="java.lang.Integer">
        select count(*) from boss_auto_case_execute_log_tb WHERE serial_id = #{serialId} and success=1

    </select>

    <!--查询流水号执行日志总数 -->
    <select id="countBySerialId" resultType="java.lang.Integer">
        select count(1) from boss_auto_case_execute_log_tb where serial_id = ${serialId};
    </select>


</mapper>