<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.boss.platform.dao.batchCaseManager.BatchCaseMapper">
    <resultMap id="BaseResultMap" type="cn.boss.platform.bean.batchCaseManager.BatchCaseBean">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="project_id" jdbcType="INTEGER" property="projectId"/>
        <result column="group_id" jdbcType="INTEGER" property="groupId"/>
        <result column="env_id" jdbcType="INTEGER" property="envId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="message" jdbcType="VARCHAR" property="message"/>
        <result column="author" jdbcType="INTEGER" property="author"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <!--添加批用例 -->
    <insert id="addBatchCase" parameterType="cn.boss.platform.bean.batchCaseManager.BatchCaseBean">
        insert into boss_batch_case_tb (project_id,group_id,env_id,message,name,author,create_time,update_time)
        VALUES (#{projectId},#{groupId},#{envId},#{message},#{name},#{author},#{createTime},#{updateTime});
    </insert>

    <!--分页查询批用例 -->
    <select id="getBatchCase" parameterType="map" resultMap="BaseResultMap">
        select * from boss_batch_case_tb where 1=1
        <if test="projectId != null">
            AND project_id = '${projectId}'
        </if>
        <if test="groupId != null">
            AND group_id = '${groupId}'
        </if>
        <if test="envId != null">
            AND env_id = '${envId}'
        </if>
        <if test="id != null">
            AND id = '${id}'
        </if>
        ORDER BY id ASC limit #{startSize},#{pageSize}
    </select>


    <!--查询批用例 -->
    <select id="getBatchCaseIntegrade" parameterType="map" resultMap="BaseResultMap">
        select * from boss_batch_case_tb where 1=1
        <if test="projectId != null">
            AND project_id = '${projectId}'
        </if>
        <if test="groupId != null">
            AND group_id = '${groupId}'
        </if>
        <if test="envId != null">
            AND env_id = '${envId}'
        </if>
        <if test="batchId != null">
            AND id = '${batchId}'
        </if>
        ORDER BY id ASC
    </select>

    <!--分页查询批用例 -->
    <select id="getBatchCaseBygroupId" parameterType="map" resultMap="BaseResultMap">
        select * from boss_batch_case_tb where 1=1
        <if test="groupId != null">
            AND group_id = '${groupId}'
        </if>
        ORDER BY id ASC
    </select>

    <!--删除用例 -->
    <delete id="deleteBatchCase" parameterType="java.lang.Integer">
        DELETE FROM boss_batch_case_tb WHERE id = #{id}
    </delete>





</mapper>