<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.boss.platform.dao.interfaceManager.CaseMapper">
  <resultMap id="BaseResultMap" type="cn.boss.platform.bean.interfaceManager.CaseBean">
    <id column="id" jdbcType="INTEGER" property="id"/>
    <result column="project_id" jdbcType="INTEGER" property="projectId"/>
    <result column="group_id" jdbcType="INTEGER" property="groupId"/>
    <result column="interface_id" jdbcType="INTEGER" property="interfaceId"/>
    <result column="env_id" jdbcType="INTEGER" property="envId"/>
    <result column="case_name" jdbcType="VARCHAR" property="caseName"/>
    <result column="type" jdbcType="INTEGER" property="type"/>
    <result column="secretKey" jdbcType="VARCHAR" property="secretKey"/>
    <result column="t" jdbcType="VARCHAR" property="t"/>
    <result column="pre_processing" jdbcType="VARCHAR" property="preProcessing"/>
    <result column="headers" jdbcType="VARCHAR" property="headers"/>
    <result column="post_processing" jdbcType="VARCHAR" property="postProcessing"/>
    <result column="public_parameters" jdbcType="VARCHAR" property="publicParameters"/>
    <result column="parameters" jdbcType="VARCHAR" property="parameters"/>
    <result column="expected_status" jdbcType="VARCHAR" property="expectedStatus"/>
    <result column="expected_result" jdbcType="VARCHAR" property="expectedResult"/>
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    <result column="author" jdbcType="INTEGER" property="author"/>
  </resultMap>

  <sql id="Base_Column_List">
    id, project_id, group_id, interface_id, env_id, case_name, type, secretKey, t,pre_processing,headers, post_processing,create_time, expected_result,update_time,public_parameters,
    parameters, expected_status,author
  </sql>

  <!--添加用例 -->
  <insert id="addCase" parameterType="cn.boss.platform.bean.interfaceManager.CaseBean"
          useGeneratedKeys="true" keyProperty="id">
    insert into boss_case_tb(project_id, group_id, interface_id, env_id, case_name, type, secretKey, t,pre_processing,headers, post_processing,public_parameters,parameters,expected_result,expected_status,create_time, update_time,
     author)
    values(#{projectId}, #{groupId}, #{interfaceId}, #{envId}, #{caseName}, #{type}, #{secretKey}, #{t}, #{preProcessing},#{headers}, #{postProcessing},#{publicParameters},#{parameters},#{expectedResult},#{expectedStatus},#{createTime},#{updateTime},#{author})
  </insert>

  <!--分页查询用例 -->
  <select id="selectByInterfaceIdPagination" resultMap="BaseResultMap">
    select * from boss_case_tb where 1=1
    <if test="interfaceId != null">
      AND interface_id = '${interfaceId}'
    </if>
    order by id desc limit #{skip},#{take}
  </select>

  <!--删除用例 -->
  <delete id="deleteCase" parameterType="java.lang.Integer">
    DELETE FROM boss_case_tb
    WHERE id = #{id}
  </delete>

  <!--更新用例 -->
  <update id="updateCase" parameterType="cn.boss.platform.bean.interfaceManager.CaseBean">
    UPDATE boss_case_tb
    SET project_id = #{projectId},
    group_id = #{groupId},
    interface_id = #{interfaceId},
    env_id = #{envId},
    case_name = #{caseName},
    type = #{type},
    secretKey = #{secretKey},
    t = #{t},
    pre_processing = #{preProcessing},
    headers = #{headers},
    post_processing = #{postProcessing},
    public_parameters = #{publicParameters},
    parameters = #{parameters},
    expected_status = #{expectedStatus},
    expected_result = #{expectedResult},
    update_time = #{updateTime},
    author = #{author}
    WHERE id = #{id}
  </update>

  <!--查询单用例 -->
  <select id="getCaseById" resultMap="BaseResultMap">
    SELECT * FROM boss_case_tb WHERE id = #{id}
  </select>

  <!--查询接口总用例数 -->
  <select id="getCaseCount" resultType="java.lang.Integer">
    SELECT count(1) FROM boss_case_tb where project_id = #{projectId}
  </select>

  <!--通过envid查询用例 -->
  <select id="selectByEnvId" resultType="java.lang.Integer">
    SELECT * FROM boss_case_tb where env_id = #{envId}
  </select>


  <!--查询接口用例数 -->
  <select id="countByInterfaceId" parameterType="java.util.Map" resultType="java.lang.Integer">
    SELECT count(1)
    FROM boss_case_tb
    <if test="interfaceId != null and interfaceId != 0 ">
      WHERE interface_id = #{interfaceId}
    </if>
  </select>

  <!--查询接口用例 -->
  <select id="selectExecute" parameterType="map" resultMap="BaseResultMap">
    select c.id, c.project_id,c.group_id,c.env_id,c.interface_id,c.case_name,c.type,c.secretKey,c.t,c.pre_processing,c.post_processing,c.headers, c.public_parameters,c.parameters, c.expected_result, c.create_time,
    c.update_time, c.author,c.expected_status
    from boss_case_tb c join boss_interface_tb i on c.interface_id = i.id
    where 1=1
    <if test="projectId != null">
      AND i.project_id = #{projectId}
    </if>
    <if test="groupId != null ">
      AND i.group_id = #{groupId}
    </if>
    <if test="envId != null ">
      AND i.env_id = #{envId}
    </if>
    <if test="version != null ">
      AND i.version = #{version}
    </if>
    <if test="interfaceIds != null ">
      AND c.interface_id IN
      <foreach item="item" index="index" collection="interfaceIds"
               open="(" separator="," close=")">
        #{item}
      </foreach>
    </if>
    <if test="caseIds != null">
      AND c.id in
      <foreach item="item" index="index" collection="caseIds"
               open="(" separator="," close=")">
        #{item}
      </foreach>
    </if>
    ORDER BY c.id ASC
  </select>

  <!--查询总用例数 -->
  <select id="getCaseCounts" resultType="java.lang.Integer">
    SELECT count(1) FROM boss_case_tb
  </select>

  <!--通过参数名查询使用参数用例编号 -->
  <select id="relatedParameters" resultMap="BaseResultMap">
    select * from boss_case_tb where 1=1
    <bind name="pattern" value="'%' + '${'+relevantParam+'}' + '%'"></bind>
    AND (secretKey like #{pattern} or pre_processing like #{pattern} or headers like #{pattern} or parameters like #{pattern} or expected_result like #{pattern})
  </select>


  <!--通过参数名查询与该参数来源用例编号 -->
  <select id="sourceParameters" resultMap="BaseResultMap">
    select * from boss_case_tb where 1=1
    <bind name="pattern" value="'%' + sourceParameter + '%'"></bind>
    AND  post_processing like #{pattern}
  </select>
</mapper>