<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.boss.platform.dao.interfaceManager.InterfaceMapper">
    <resultMap id="BaseResultMap" type="cn.boss.platform.bean.interfaceManager.InterfaceBean">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="order_code" jdbcType="INTEGER" property="orderCode"/>
        <result column="project_id" jdbcType="INTEGER" property="projectId"/>
        <result column="group_id" jdbcType="INTEGER" property="groupId"/>
        <result column="version" jdbcType="VARCHAR" property="version"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="http" jdbcType="VARCHAR" property="http"/>
        <result column="method" jdbcType="VARCHAR" property="method"/>
        <result column="common_params" jdbcType="VARCHAR" property="commonParams"/>
        <result column="params" jdbcType="OTHER" property="params"/>
        <result column="headers" jdbcType="VARCHAR" property="headers"/>
        <result column="cookies" jdbcType="VARCHAR" property="cookies"/>
        <result column="author" jdbcType="VARCHAR" property="author"/>
        <result column="response" jdbcType="VARCHAR" property="response"/>
        <result column="message" jdbcType="VARCHAR" property="message"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <!--添加接口 -->
    <insert id="addInterface" parameterType="cn.boss.platform.bean.interfaceManager.InterfaceBean">
        insert into boss_interface_tb (order_code,project_id,group_id,version,message,name,status,method,http,path,params,common_params,headers,cookies,response,
        author,create_time,update_time)
        VALUES (#{orderCode},#{projectId},#{groupId},#{version},#{message},#{name},#{status},#{method},#{http},#{path},#{params},#{commonParams},#{headers},#{cookies},#{response},
        #{author},#{createTime},#{updateTime});
    </insert>

    <!--分页查询接口 -->
    <select id="getInterface" parameterType="cn.boss.platform.bean.interfaceManager.InterfaceBean"
            resultMap="BaseResultMap">
        select * from boss_interface_tb where 1=1
        <if test="projectId !=null">
            AND project_id = '${projectId}'
        </if>
        <if test="groupId != null ">
            AND group_id = '${groupId}'
        </if>
        <if test="id != null ">
            and id = '${id}'
        </if>
        ORDER BY order_code DESC limit #{startSize},#{pageSize}
    </select>


    <!--分页查询接口总数 -->
    <select id="getInterfaceCount" parameterType="cn.boss.platform.bean.interfaceManager.InterfaceBean" resultType="java.lang.Integer">
        select count(*) from boss_interface_tb where 1=1
        <if test="projectId !=null">
            AND project_id = '${projectId}'
        </if>
        <if test="groupId != null ">
            AND group_id = '${groupId}'
        </if>
        <if test="id != null ">
            and id = '${id}'
        </if>
        ORDER BY id DESC
    </select>


    <!--分页查询接口总数 -->
    <select id="getInterfaceCountByprojectId" resultType="java.lang.Integer">
        select count(*) from boss_interface_tb where 1=1 AND project_id = '${projectId}'
    </select>

    <!--分页查询接口总数 -->
    <select id="getInterfaceCountBygroupId" resultType="java.lang.Integer">
        select count(*) from boss_interface_tb where 1=1 AND group_id = '${groupId}'
    </select>

    <!--查询单接口 -->
    <select id="getInterfaceByProjectGroupId" resultMap="BaseResultMap">
        select * from boss_interface_tb where 1=1
        <if test="projectId !=null">
            AND project_id = '${projectId}'
        </if>
        <if test="groupId != null ">
            AND group_id = '${groupId}'
        </if>
        ORDER BY order_code DESC
    </select>

    <!--查询order_code为空接口 -->
    <select id="getInterfaaceByOrderCode" resultMap="BaseResultMap">
        select * from boss_interface_tb where 1=1 AND order_code is NULL
        ORDER BY id DESC
    </select>


    <select id="getInterfaceById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select *
        from boss_interface_tb
        where  id = #{id}
    </select>


    <!-- 删除单条接口 -->
    <delete id="deleteInterface" parameterType="java.lang.Integer">
        delete from boss_interface_tb where id=#{id}
    </delete>

    <!-- 更新单条接口 -->
    <update id="updateInterface" parameterType="cn.boss.platform.bean.interfaceManager.InterfaceBean">
        update boss_interface_tb
        set
        order_code = #{orderCode},
        project_id = #{projectId},
        group_id = #{groupId},
        version = #{version},
        name = #{name},
        message = #{message},
        status = #{status},
        path = #{path},
        method = #{method},
        http = #{http},
        common_params = #{commonParams},
        params = #{params},
        headers = #{headers},
        cookies = #{cookies},
        author = #{author},
        response = #{response},
        update_time = #{updateTime}
        where id = #{id}
    </update>

    <!--关键字搜索接口 -->
    <select id="searchInterface" resultMap="BaseResultMap">
        <if test="keyword != null">
            <bind name="pattern" value="'%' + keyword + '%'"></bind>
        </if>
        select * from boss_interface_tb where 1=1 AND project_id like #{projectId}
        <if test="keyword != null">
            AND (name like #{pattern} or path like #{pattern} or author like #{pattern} or version like #{pattern})
        </if>
        order by order_code ASC limit #{startSize},#{pageSize}
    </select>

    <!--关键字搜索接口 -->
    <select id="searchInterfaceCount" resultType="java.lang.Integer">
        <if test="keyword != null">
            <bind name="pattern" value="'%' + keyword + '%'"></bind>
        </if>
        select count(*) from boss_interface_tb where 1=1
        <if test="projectId != null">
            AND project_id like #{projectId}
        </if>
        <if test="keyword != null">
            AND (name like #{pattern} or path like #{pattern} or author like #{pattern} or version like #{pattern})
        </if>
    </select>


    <!--通过用例id查询接口 -->
    <select id="searchInterfaceBycaseId" resultMap="BaseResultMap">
        select * from boss_interface_tb where id in (select distinct interface_Id from boss_case_tb where 1=1 and id like '%${caseId}%')
    </select>


</mapper>