<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.boss.platform.dao.interfaceManager.JenkinsMapper">
    <resultMap id="BaseResultMap" type="cn.boss.platform.bean.interfaceManager.JenkinsBean">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="testenv" jdbcType="VARCHAR" property="testenv"/>
        <result column="feature" jdbcType="VARCHAR" property="feature"/>
        <result column="service" jdbcType="VARCHAR" property="service"/>
        <result column="Cookie" jdbcType="VARCHAR" property="Cookie"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="time" jdbcType="VARCHAR" property="time"/>
        <result column="consumer" jdbcType="VARCHAR" property="consumer"/>
        <result column="schedule" jdbcType="VARCHAR" property="schedule"/>
        <result column="git" jdbcType="VARCHAR" property="git"/>
        <result column="source" jdbcType="VARCHAR" property="source"/>
    </resultMap>

    <insert id="insertjenkins" parameterType="cn.boss.platform.bean.interfaceManager.JenkinsBean">
    insert into boss_tools_jenkins(id, status, testenv, feature,service,Cookie,name,time,consumer,schedule,git,source)
    values(#{id}, #{status}, #{testenv}, #{feature}, #{service},#{Cookie},#{name},#{time},#{consumer},#{schedule},#{git},#{source})
  </insert>

    <select id="getlastjenkins"  resultMap="BaseResultMap">
        select * from boss_tools_jenkins where source='1' order by id desc limit 1;
    </select>
    <select id="getlastjenkinsdianzhangadmin"  resultMap="BaseResultMap">
        select * from boss_tools_jenkins where service='dzadmin' and source='2' order by id desc limit 1;
    </select>
    <select id="getlastjenkinsdianzhangweifuwu"  resultMap="BaseResultMap">
        select * from boss_tools_jenkins where source='2' and service!='dzadmin' order by id desc limit 1;
    </select>
    <select id="getlastjenkinspay"  resultMap="BaseResultMap">
        select * from boss_tools_jenkins where service='zhipin-pay' and source='1' order by id desc limit 1;
    </select>
    <!--查询单条batch用例执行日志，返回list -->
    <select id="selectJenkins2" parameterType="map" resultMap="BaseResultMap">
        select * from boss_tools_jenkins where
        1=1
        <if test="testenv != null and testenv!=''">
            AND testenv = #{testenv}
        </if>
        <if test="service != null and service!=''">
            AND service = #{service}
        </if>
        <if test="source != null and source!=''">
            AND source = #{source}
        </if>
        order by id desc limit #{begin},#{size};
    </select>

    <update id="setCookie" parameterType="java.lang.String">
        update boss_tools_jenkins
        set
        Cookie = #{cookie}
    </update>

    <!--查询单条用例执行日志总数 -->
    <select id="getlastJenkins" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT * FROM boss_tools_jenkins where
        1=1
        <if test="testenv != null and testenv!=''">
            AND testenv = #{testenv}
        </if>
        <if test="source != null and source!=''">
            AND source = #{source}
        </if>
         and id in (select max(id) as id from boss_tools_jenkins
         where 1=1
        <if test="testenv != null and testenv!=''">
            AND testenv = #{testenv}
        </if>
        <if test="source != null and source!=''">
            AND source = #{source}
        </if>
         group by service )
    </select>
<!--    SELECT * FROM boss_tools_jenkins where id in (select max(id) as id from boss_tools_jenkins where testenv='qa' group by service )-->
    <!--查询单条batch用例执行日志总数 -->
    <select id="getlastjenkinsadmin" resultType="java.lang.Integer">
        select id from boss_tools_jenkins where testenv=#{testenv,jdbcType=VARCHAR} and service=#{service,jdbcType=VARCHAR} order by id desc limit 1;
    </select>
    <select id="getlastjenkinsyufa"  resultType="java.lang.Integer">
        select id from boss_tools_jenkins where testenv='yf' order by id desc limit 1;
    </select>

</mapper>