<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.boss.platform.dao.interfaceManager.PeopleruleMapper">
    <resultMap id="BaseResultMap" type="cn.boss.platform.bean.interfaceManager.PeopleruleBean">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="ruleid" jdbcType="VARCHAR" property="ruleid"/>
        <result column="yn" jdbcType="VARCHAR" property="yn"/>
    </resultMap>
    <resultMap id="BaseResultMap2" type="cn.boss.platform.bean.interfaceManager.RuleBean">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="webid" jdbcType="VARCHAR" property="webid"/>
        <result column="ruledes" jdbcType="VARCHAR" property="ruledes"/>
        <result column="yn" jdbcType="VARCHAR" property="yn"/>
    </resultMap>
    <select id="querypeoplerule" resultMap="BaseResultMap">
        select * from boss_tools_rule_user where yn=1
        <if test="id !=null">
            AND id = '${id}'
        </if>
        <if test="email !=null">
            AND email = '${email}'
        </if>
        <if test="username !=null">
            AND username = '${username}'
        </if>
        ORDER BY id desc limit #{startSize},#{pageSize}
    </select>
    <update id="updatepeoplerule" parameterType="cn.boss.platform.bean.interfaceManager.PeopleruleBean">
        update boss_tools_rule_user
        set
        ruleid = #{ruleid}
        where id = #{id}
    </update>
    <select id="searchrule" resultMap="BaseResultMap2">
        select * from boss_tools_rule where yn=1
    </select>
    <select id="searchrulebyemail" resultType="java.lang.String">
        select ruleid from boss_tools_rule_user where email=#{email}
    </select>
    <select id="searchrulebypeopleid" resultType="java.lang.String">
        select ruleid from boss_tools_rule_user where id=#{id}
    </select>
    <delete id="deletepeoplerule" parameterType="java.lang.Integer">
        delete from boss_tools_rule_user where id=#{id}
    </delete>
    <insert id="addpeoplerule" parameterType="cn.boss.platform.bean.interfaceManager.PeopleruleBean">
        insert into boss_tools_rule_user (username,ruleid,email,yn)
        VALUES (#{username},#{ruleid},#{email},#{yn});
    </insert>
</mapper>