<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.boss.platform.dao.interfaceManager.ProjectMapper">
    <resultMap id="BaseResultMap" type="cn.boss.platform.bean.interfaceManager.ProjectBean">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="project_team" jdbcType="INTEGER" property="projectTeam"/>
        <result column="project_name" jdbcType="VARCHAR" property="projectName"/>
        <result column="project_type" jdbcType="VARCHAR" property="projectType"/>
        <result column="project_desc" jdbcType="VARCHAR" property="projectDesc"/>
        <result column="project_version" jdbcType="VARCHAR" property="projectVersion"/>
        <result column="sign_type" jdbcType="INTEGER" property="signType"/>
        <result column="used" jdbcType="INTEGER" property="used"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>


    <!--添加项目 -->
    <insert id="addProject" parameterType="cn.boss.platform.bean.interfaceManager.ProjectBean">
        insert into boss_project_tb (project_team,project_name,project_type,project_desc,project_version,used,create_time,update_time)
        VALUES (#{projectTeam},#{projectName},#{projectType},#{projectDesc},#{projectVersion},#{used},#{createTime},#{updateTime});
    </insert>


    <!--查询满足条件项目 -->
    <select id="getProject" resultMap="BaseResultMap">
        select * from boss_project_tb where 1=1 AND used = 1
        <if test="item != 0">
          and project_team= '${item}'
        </if>
        <if test="projectId != 0">
          and  id= '${projectId}'
        </if>
        ORDER BY create_time ASC
    </select>


    <!--通过项目id获取name -->
    <select id="queryProjectNameById" resultType="java.lang.String">
        select project_name from boss_project_tb where 1=1 AND id = '${projectId}'
    </select>


    <!--获取项目总数 -->
    <select id="getProjectCount" resultType="java.lang.Integer">
        select count(*) from boss_project_tb
    </select>

    <!--查询单项目 -->
    <select id="getProjectByid" resultMap="BaseResultMap">
        select * from boss_project_tb where 1=1 AND  id= '${projectId}'
    </select>


    <!--按照team分组查询项目 -->
    <select id="getProjectByProjectTeam" resultMap="BaseResultMap">
       select * from boss_project_tb where 1=1  ORDER BY project_team ASC
    </select>
</mapper>