<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.boss.platform.dao.interfaceManager.RuleMapper">
    <resultMap id="BaseResultMap" type="cn.boss.platform.bean.interfaceManager.RuleBean">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="webid" jdbcType="VARCHAR" property="webid"/>
        <result column="ruledes" jdbcType="VARCHAR" property="ruledes"/>
        <result column="yn" jdbcType="VARCHAR" property="yn"/>
    </resultMap>
    <resultMap id="BaseResultMap2" type="cn.boss.platform.bean.interfaceManager.WebBean">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="weburl" jdbcType="VARCHAR" property="weburl"/>
        <result column="webdes" jdbcType="VARCHAR" property="webdes"/>
        <result column="parent_id" jdbcType="INTEGER" property="parent_id"/>
    </resultMap>
    <select id="queryrule" resultMap="BaseResultMap">
        select * from boss_tools_rule where yn=1
        <if test="id !=null">
            AND id = '${id}'
        </if>
        <if test="ruledes !=null">
            AND ruledes = '${ruledes}'
        </if>
        ORDER BY id desc limit #{startSize},#{pageSize}
    </select>
    <delete id="deleterule" parameterType="java.lang.Integer">
        delete from boss_tools_rule where id=#{id}
    </delete>
    <insert id="addrule" parameterType="cn.boss.platform.bean.interfaceManager.RuleBean">
        insert into boss_tools_rule (ruledes,yn,webid)
        VALUES (#{ruledes},#{yn},#{webid});
    </insert>
    <select id="searchweb" resultMap="BaseResultMap2">
        select * from boss_tools_web
    </select>
    <select id="searchwebbyid" resultType="java.lang.String">
        select webid from boss_tools_rule where id=#{id}
    </select>
    <select id="searchweburlbywebid" resultType="java.lang.String">
        select weburl from boss_tools_web where id=#{id}
    </select>

    <update id="update" >
        update boss_tools_rule
        set
        webid = #{ruleid}
        where id = #{id}
    </update>
</mapper>